.container {
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .left {
      background: red;
      height: 200px;
      width: 33%;
      margin: 20px;

   }

   .middle {
      background: blue;
      height: 200px;
      width: 33%;
      margin: 20px;
   }

   .right {
      background: black;
      height: 200px;
      width: 34%;
      margin: 20px;
   }
